@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Montserrat:wght@300;400;500;600&family=Nanum+Gothic&display=swap');
:root{
  --color1: #D7D0C8;
  --color2: #C8C6AF;
  --color3:#95A78D;
  --color4:#BD897E;
  --color5:#F87666;
  

  --xxs: 0.5rem;
  --xs:0.7rem;
  --s:0.85rem;
  --n:1rem;
  --m:1.3rem;
  --l:1.5rem;
  --xl:2rem;
  --xxl:2.5rem;
  --xxxl:3rem
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 20px;
  font-family: 'Montserrat','sans-serif';
}

#root{
  height: 100vh;
  background-color: var(--color1);
}

.title{
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a{
  font-size: var(--xxl);
  color: var(--color3);
  margin-bottom: 1rem;
  text-decoration: none;
}

hr{
  border: none;
  border-bottom: 2px solid var(--color4);
}

.navbar{
  height: 70px;
  font-size: var(--m);
  font-weight: 600;
  color: var(--color4);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
} 

li a {
  text-decoration: none;
  color: var(--carmine);
}

li:hover a{
  color: var(--color5);
}

.componentInfo{
  margin-top: 2rem;
  margin-left: 5rem;
  font-size: var(--m);
  color: black;

}

.addForm{
  width: 400px;
  height: 300px;
  background-color: var(--color3);
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  margin-left: 10rem;
  border-radius: 1rem;
}

label{
  color: black;
  margin: 0.5rem 2rem;
  margin-top: 1.3rem;
  font-size: var(--m);
}

.input_label{
  display: flex;
  flex-direction: column;
}

input{
  width: 70%;
  height: 1.5rem;
  margin-left: 2rem;
  border-radius: 10px;
  border: none;
  text-indent: 5px;
}

.editInput{
  width: 70%;
  height: 1.2rem;
  margin-left: 1rem;
  border-radius: 10px;
  border: none;
  text-indent: 5px;
}

.formSubmit{
  width: 50%;
  height: 1.5rem;
  margin: 0 auto;
  margin-top:2rem;
  border-radius: 0.5rem;
  border: none;
  background-color: var(--color5);
  font-weight: 600;
  font-size: var(--s);
  cursor: pointer;
  
}
.formSubmit:hover {
  background-color: var(--color4);
}

.newspaper_component{
  display: flex;
  height: 700px;
}

.table{
  width: 1000px;
  height: 500px;
  background-color: var(--color3);
  color: var(--vanilla);
  margin-left: 5rem;
  border-radius: 20px;
  overflow-x: auto;
  padding: 10px;
}
.table_title{
  color: var(--color1);
  text-align: center;
}

table{
  width: 100%;
  margin-top: 1rem;
  font-size: var(--s);
}

thead{
  text-align: center;
}
th{
  padding: 0.2rem 0;
}
tr{
  background-color: var(--color2);
}
td{
  text-indent: 3px;
  padding: 0.2rem 0;
}
.Button{
  width: 4rem;
  border-radius: 1rem;
  border: none;
  font-size: var(--n);
  cursor: pointer;
}
.Button:hover{
  background-color: var(--color1) !important;
}

.button_cell{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
